name: CI - Tests Python BTS CIEL

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Récupérer le projet
      - name: Récupération du projet
        uses: actions/checkout@v4

      # Installer Python
      - name: Installation de Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # Tester Task 1
      - name: Vérification Task 1 – Python basics
        run: python task1_python_basics/main.py <<< "Test\nCIEL1"

      # Tester Task 2
      - name: Vérification Task 2 – Logs
        run: python task2_files/log_analyzer.py

      # Tester Task 3
      - name: Vérification Task 3 – Ping
        run: python task3_network/ping_check.py <<< "8.8.8.8"
